.git
.gitignore
.vscode
.idea
node_modules
**/node_modules
dist
**/dist
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*
app/.vite
app/node_modules
app/dist
Dockerfile*
docker-compose.yml
