#VITE_API_URL=http://31.59.170.172:8080/api
VITE_API_URL=http://localhost:8080/api
VITE_APP_NAME=OrthodoxApp

VITE_MAP_API_KEY=get_your_own_OpIi9ZULNHzrESv6T2vL
VITE_CUSTOM_MAP_KEY=
VITE_MAP_STREETS_URL="https://api.maptiler.com/maps/streets-v2/style.json?key=${VITE_MAP_API_KEY}"